.sellercard_container{
    /* border: 2px solid; */
    width: 300px ;
    padding: 10px 10px;
    background-color: white;
    height: 180px;
}
.img_review_div{
    display: flex;
}
.seller_card_div{
    display: flex;
    justify-content: space-between;
}
.seler_img{
    width: 50px;
    border-radius: 40px;
}
.review_div{
    margin-top: -15px;
}
.name_and_review_div{
    /* border: 2px solid; */
    margin-left: 5px;
    margin-top: 5px;
    /* height: 20px; */
}
.name_and_review_div>p{
    font-weight: 600;
    font-size: 1.1em;
}
.star_icon{
    color: yellow;
}
.greater_than{
    font-size: 1.4em;
    margin-top: 10px;
    color: gray;
}
.location,.last_seen{
    display: flex;
}
.location_icon{
    color: gray;
    font-size: 1.5em;
}
.location_para{
    margin-left: 8px;
}

@media screen and (max-width:950px){
    .sellercard_container{
        width: 100%;
    }
}