.member_item_container{
    /* border: 2px solid; */
    width: 800px;
    padding: 10px 25px 4px;
    background-color: white;
    height: 130px;
}
.shop_btn_div{
    display: flex;
    justify-content: space-between;
}
.save_para{
    margin-top: -15px;
    color: gray;
}
.shop_btn{
    height: 35px;
    padding: 0px 15px;
    outline: none;
    border: none;
    background-color: rgb(63, 168, 168);
    color: white;
    border-radius: 5px;
}
@media screen and (max-width:1125px){
    .member_item_container{
        width: 100%;
        padding: 10px 10px;
    }
}
@media screen and (max-width:950px){
    .member_item_container{
        width: 100%;
        margin-top: 20px;
    }
}