.item_info_container{
    background-color: rgb(218, 211, 211);
margin-bottom: 100px;
}
.seller_card{
    /* text-align: right !important; */
    display: flex;
    justify-content: space-around;
    padding: 0px 69px;
    

    /* margin-left: 20px; */
    /* margin-right: 70px; */
}
.products_item_page{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}
.shopAndCard_div{
    /* margin-top: 60px; */
}
@media screen and (max-width:1125px){
    .seller_card{
        padding: 0px 30px;
    }
}
@media screen and (max-width:950px){
    .seller_card{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:660px){
    .seller_card{
        padding: 0px 15px;
    }
}